body { 
    font-family: "Roboto", sans-serif; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    height: 100vh;
}

main {
    margin-left: 200px;
    padding: 20px;
}

#text-highlight {
    font-style: italic;
}

.sidebar { 
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    background-color: #dbdbdb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar a { 
    color: black;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

.sidebar a:hover {
    color: red;
}

.sidebar-name {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
}